.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  padding: 0.5rem 0;
}
.nav__logo {
  font-size: 1.3rem;
  padding-left: 5rem;
}
.nav__logo--link {
  text-decoration: none;
  color: #335576;
}
.nav__bar {
  list-style: none;
  padding-right: 5rem;
}
.nav__bar .nav__bar--item {
  display: inline-flex;
  padding: 0 1rem;
}
.nav__bar--item .nav__bar--link {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(40, 39, 38);
}

.nav-home {
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.3rem;
}

.nav-hawaii {
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.3rem;
}

.nav-iceland {
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.3rem;
}

.nav-greece {
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.3rem;
}

/* Hero Section */

.hero {
  height: 25rem;
  display: flex;
  flex-direction: row;
  background-color: #fefaf5;
  align-items: center;
  padding: 0 5rem;
}

.hero__image {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.hero__image--size {
  width: 30vw;
}

.hero__text {
  display: flex;
  flex-direction: column;
}
.hero__text--title,
.hero__text--description {
  padding-bottom: 2rem;
  color: #335576;
}
.hero__text--link {
  padding: 0.5rem 0.5rem;
  background-color: #db7a4e;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  width: 30%;
  color: white;
}

/* Recommendation Section */

.recommendation {
  padding: 2rem 5rem;
  color: #335576;
}
.card-container {
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
}
.card-container__country {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  height: 350px;
  position: relative;
}
.card-container__country--image {
  max-height: 350px;
  width: 100%;
}
.card-container__country--text {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 1.5rem;
}

/* Footer Section */

.footer {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fefaf5;
}

.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__container--heading {
  padding-bottom: 2rem;
  align-items: baseline;
  color: #335576;
}
.footer__container--sub {
  display: inline-flex;
  font-size: 1rem;
}
.footer__container--text {
  padding-right: 7rem;
  padding-bottom: 1rem;
  font-size: 0.5rem;
  color: #db7a4e;
}

.footer__container--description {
  font-size: 0.7rem;
  color: #335576;
}
.footer__social {
  padding: 0 1rem;
}
.footer__social--image {
  width: 20px;
  height: 20px;
}
